- @surname = @director.surname
#show
  .director
  .forename= @director.forename + " " + surname= @director.surname   
%p= link_to 'Upload PDF', url_for('directors/attach')  
%p= link_to 'View all directors', url_for(:directors, :index)